<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/limieri.css" th:href="@{/css/limieri.css}" rel="stylesheet"/>
<link  th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"
       id="bootstrap-css">
<link rel="icon" type="image/png" href="/img/favicon.ico" th:href="@{/img/favicon.ico}">
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title:{
                    text: "Comparativo de cáries e etnias"
                },
                axisY: {
                    title: "Total de pacientes",
                    titleFontColor: "#4F81BC",
                    lineColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    tickColor: "#4F81BC"
                },
                axisY2: {
                    title: "Total com cáries",
                    titleFontColor: "#c00e06",
                    lineColor: "#C00E06",
                    labelFontColor: "#C00E06",
                    tickColor: "#C00E06"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor:"pointer",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "column",
                    name: "Total de pacientes",
                    legendText: "Total",
                    showInLegend: true,

                    dataPoints:[
                        { label: "Brancos", y: /*[[${brancosTotal}]]*/ },
                        { label: "Negros", y: /*[[${negrosTotal}]]*/ },
                        { label: "Pardos", y: /*[[${pardosTotal}]]*/ },
                        { label: "Indígenas", y: /*[[${indigenasTotal}]]*/ },
                        { label: "Amarelos", y: /*[[${amarelosTotal}]]*/ },
                    ]
                },
                    {
                        type: "column",
                        name: "Pacientes com cáries",
                        legendText: "Com cáries",
                        showInLegend: true,
                        dataPoints:[
                            { label: "Brancos", y: /*[[${brancosComCarie}]]*/ },
                            { label: "Negros", y: /*[[${negrosComCarie}]]*/ },
                            { label: "Pardos", y: /*[[${pardosComCarie}]]*/ },
                            { label: "Indígenas", y: /*[[${indigenasComCarie}]]*/ },
                            { label: "Amarelos", y: /*[[${amarelosComCarie}]]*/ },
                        ]
                    }]
            });
            chart.render();

            function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }

        }
        /*]]>*/
    </script>
</head>
<body>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/home'}">C a l i d e n s<s></s></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'/escolas/view'}">Escolas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/pacientes/view'}">Pacientes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/consultas/view'}">Consultas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/usuarios/view'}">Usuários</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatórios e Gráficos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'/relatorios'}">Relatórios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/graficos'}">Gráficos</a>
                </div>
            </li>
            <li>
                <a class="nav-link" th:href="@{'/sobre'}">Sobre</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" th:href="@{'/'}">SAIR</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
<hr>
<a th:href="@{'/graficos'}"> <img id="sair" th:src="@{/img/ico_sair2.png}"> </a>

<script th:src="@{'/js/canvasjs.min.js'}"></script>
<script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>