<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/limieri.css" th:href="@{/css/limieri.css}" rel="stylesheet"/>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"
      id="bootstrap-css">
<link rel="icon" type="image/png" href="/img/favicon.ico" th:href="@{/img/favicon.ico}">
<head><title> Consultas</title>

    <style>
        td {
            height: 50px;
        }

        h2 {
            font-family: arial, sans-serif;
        }

        #listDiv {
            width: 96%;
            margin: 2%;
        }

        #sair {
            width: 6%;
        }



    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/home'}">C a l i d e n s<s></s></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'/escolas/view'}">Escolas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/pacientes/view'}">Pacientes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/consultas/view'}">Consultas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/usuarios/view'}">Usuários</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relatórios e Gráficos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{'/relatorios'}">Relatórios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{'/graficos'}">Gráficos</a>
                </div>
            </li>
            <li>
                <a class="nav-link" th:href="@{'/sobre'}">Sobre</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" th:href="@{'/'}">SAIR</a>
            </li>
        </ul>
    </div>
</nav>

<div id="listDiv" >
    <h2>Lista de consultas cadastradas</h2>


    <br>
    <form method="post" th:action="@{/consultas/view/}">
        <input type="text" name="buscar" class="form-control col-xl-6" placeholder="Buscar paciente..." />

        <input type="submit" class="btn btn-info btn-md mt-2 mb-2" value="Buscar" />
        <br>
        <a th:href="@{'/consultas/add'}"> <img class="add" th:src="@{/img/ico_add.png}"> </a>

        <table class="table-responsive table-hover">
            <thead class="thead-dark">
            <colgroup>
                <col title="ID" span="1" style="width: 5%;">
                <col span="1" style="width: 22%;">
                <col span="1" style="width: 18%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            </thead>
            <tr>
                <th>Id</th>
                <th>Nome do Paciente</th>
                <th>Data da Consulta</th>
                <th>Cáries</th>
                <th>Restaurações</th>
                <th>Ações</th>
            </tr>
            <tr th:each="consulta : ${consultas}">
                <td th:type="number" th:text="${consulta.id}"></td>
                <td th:text="${consulta.paciente.nome}"></td>

                <!--<td th:text="${#dates.format(paciente.dtNascimento, 'dd/MM/yyyy')}"></td>-->
                <td th:text="${#dates.format(consulta.data, 'dd/MM/yyyy')}"></td>
                <!--<td th:text="${consulta.carie}"></td>-->
                <!--<td th:text="${consulta.restauração}"></td>-->
                <td th:switch="${consulta.carie}">
                    <h7 th:case="true">Sim</h7>
                    <h7 th:case="false">Não</h7>
                </td>
                <td th:switch="${consulta.restauracao}">
                    <h7 th:case="true">Sim</h7>
                    <h7 th:case="false">Não</h7>
                </td>
                <td>


                    <a th:alt-title="Editar" th:href="@{'/consultas/edit/'  + ${consulta.id}}"><img class="icones"
                                                                                                    th:src="@{/img/ico_editar.png}"></a>
                    <a th:alt-title="Deletar" th:href="@{'/consultas/delete/'+ ${consulta.id}}"><img class="icones"
                                                                                                     th:src="@{/img/ico_excluir.png}"></a>
                </td>
            </tr>
        </table>
    </form>
    <br>


    <a th:href="@{'/home'}"> <img id="sair" th:src="@{/img/ico_sair2.png}"> </a>


</div>

<script th:src="@{'https://code.jquery.com/jquery-3.3.1.slim.min.js'}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
